@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-slate-800 dark:bg-slate-100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'LPMQ IsepMisbah'; /* Ganti 'NamaFont' sesuai dengan nama font Anda */
  src: url('../public/fonts/LPMQ\ IsepMisbah.ttf') format('truetype'); /* Ganti './fonts/NamaFont.ttf' sesuai dengan lokasi font Anda */
  font-weight: normal;
  font-style: normal;
}
